.--largura-maxima{
	width: 100%;
}

.--largura-grande{
	width: 80%;
}

.botao{
	font-size: .8rem;
	font-weight: 500;
	letter-spacing: 2.9px;
	text-transform: uppercase;
	padding: 1rem 40px;
	margin-top: .5rem;
	margin-bottom: .5rem;
	border-radius: 6px;
	transition: .25s;
}

.botao:hover{
	transform: translate(0, .22rem);
	transition: .25s;
}

.acoes{
	color: #fff;
	text-align: center;
	background-image: url(../img/fundo-main.png);
	background-size: cover;
	padding-top: 9.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.acoes__chamada{
	display: flex;
	flex-direction: column;
	align-items: center;
}